@font-face {
  font-family: "Nunito";
  src: url(../font/nunito/Nunito-VariableFont_wght.ttf);
}
@font-face {
  font-family: "Lobster";
  src: url(../font/lobster/Lobster-Regular.ttf);
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Nunito";
}

nav {
  z-index: 1;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  position: fixed;
  min-width: 100vw;
  top: 0;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  overflow: hidden;
}
nav .nav-pc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
nav .logo-btn {
  height: calc(50 * clamp(1.2px, 0.25vw, 1.8px));
  width: calc(60 * clamp(1.2px, 0.25vw, 1.8px));
  margin: calc(10 * clamp(1.2px, 0.25vw, 1.8px));
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}
nav .logo-btn:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
nav .options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: calc(10 * clamp(1.2px, 0.25vw, 1.8px));
  margin-right: calc(10 * clamp(1.2px, 0.25vw, 1.8px));
}
nav .options .languages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: calc(6 * clamp(1.2px, 0.25vw, 1.8px));
  font-weight: 600;
}
nav .options .languages .lang {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  font-size: calc(14 * clamp(1.2px, 0.25vw, 1.8px));
  color: inherit;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}
nav .options .languages .lang:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
nav .options .languages .hide {
  display: none;
}
nav .options .color-mode-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: calc(30 * clamp(1.2px, 0.25vw, 1.8px));
  height: calc(16 * clamp(1.2px, 0.25vw, 1.8px));
  padding: calc(2 * clamp(1.2px, 0.25vw, 1.8px));
  border-radius: 50%/100%;
  cursor: pointer;
  overflow: hidden;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}
nav .options .color-mode-btn .color-mode-inner {
  width: calc(12 * clamp(1.2px, 0.25vw, 1.8px));
  height: calc(12 * clamp(1.2px, 0.25vw, 1.8px));
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 50%;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}
nav .options .color-mode-btn .color-mode-inner.active {
  -webkit-transform: translateX(calc(14 * clamp(1.2px, 0.25vw, 1.8px)));
          transform: translateX(calc(14 * clamp(1.2px, 0.25vw, 1.8px)));
}
nav .options .color-mode-btn .color-mode-inner.active::before {
  left: calc(-5 * clamp(1.2px, 0.25vw, 1.8px));
  -webkit-transform: scale(1);
          transform: scale(1);
}

.home {
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.home .explore {
  margin: auto;
  padding: clamp(10px, 2.5vw, 22px) clamp(20px, 3.5vw, 32px) clamp(20px, 3.5vw, 32px) clamp(20px, 3.5vw, 32px);
  border-radius: clamp(10px, 2vw, 20px);
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  -webkit-transition: 0.6s;
  transition: 0.6s;
}
.home .explore .magic-piano {
  font-family: "Lobster";
  font-size: clamp(40px, 10vw, 60px);
  text-align: center;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}
.home .explore .socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: clamp(5px, 1.5vw, 15px);
}
.home .explore .socials .network {
  height: clamp(40px, 10vw, 60px);
  width: clamp(40px, 10vw, 60px);
  -webkit-transition: 0.6s;
  transition: 0.6s;
}
.home .explore .socials .network:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.home .explore .more-btn {
  display: block;
  margin: auto;
  text-align: center;
  text-decoration: none;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-weight: 500;
  font-size: clamp(15px, 3vw, 20px);
  padding: clamp(8px, 1.5vw, 18px);
  border-radius: clamp(10px, 2vw, 20px);
  margin-top: clamp(14px, 3vw, 30px);
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  background-size: cover;
  background-position: center;
  background-attachment: scroll;
}
.about .about-text {
  width: 80vw;
  margin: auto;
  padding: clamp(40px, 10vw, 60px) 0;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}
.about .about-text h2 {
  font-weight: 500;
  text-align: center;
  font-size: clamp(24px, 6vw, 34px);
  padding-bottom: clamp(8px, 2vw, 12px);
}
.about .about-text p {
  font-size: clamp(15px, 3vw, 20px);
}
.about .about-text p span {
  font-weight: bold;
}

.form {
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-transition: background-image 0.6s;
  transition: background-image 0.6s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.form h2 {
  font-weight: 500;
  text-align: center;
  font-size: clamp(24px, 6vw, 34px);
  padding-bottom: clamp(8px, 2vw, 12px);
  -webkit-transition: 0.6s;
  transition: 0.6s;
}
.form p {
  font-size: clamp(15px, 3vw, 20px);
  margin: auto auto 1em;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}
.form p span {
  font-weight: bold;
}
.form .form-text {
  margin: auto;
  padding: clamp(20px, 3.5vw, 32px);
  border-radius: clamp(10px, 2vw, 20px);
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  width: 35em;
}
.form .form-text .radio-selection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.form .form-text .radio-selection .radio-label {
  display: block;
  width: 49%;
  padding: 10px;
  border-radius: 0.8em;
  font-size: clamp(14px, 3vw, 16px);
  -webkit-transition: 0.6s;
  transition: 0.6s;
  text-align: center;
  margin-bottom: 1em;
}
.form .form-text .radio-selection .radio-input {
  display: none;
}
.form .form-text .radio-selection .radio-input:checked + .radio-label {
  background-color: black;
  color: white;
}
.form .form-text input[type=number] {
  -webkit-appearance: textfield;
     -moz-appearance: textfield;
          appearance: textfield;
}
.form .form-text input::-webkit-inner-spin-button, .form .form-text input::-webkit-outer-spin-button {
  -webkit-appearance: none;
          appearance: none;
  margin: 0;
}
.form .form-text textarea {
  resize: none;
}
.form .form-text .form-input, .form .form-text .form-textarea {
  display: block;
  margin: auto auto 1em;
  font-size: clamp(14px, 3vw, 16px);
  padding: 0.5em;
  border-radius: 0.5em;
  border: none;
  width: 100%;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}
.form .form-text .form-input:focus, .form .form-text .form-textarea:focus {
  outline: none;
}
.form .form-text .form-input::-webkit-input-placeholder, .form .form-text .form-textarea::-webkit-input-placeholder {
  font-size: clamp(15px, 3vw, 20px);
}
.form .form-text .form-input::-moz-placeholder, .form .form-text .form-textarea::-moz-placeholder {
  font-size: clamp(15px, 3vw, 20px);
}
.form .form-text .form-input:-ms-input-placeholder, .form .form-text .form-textarea:-ms-input-placeholder {
  font-size: clamp(15px, 3vw, 20px);
}
.form .form-text .form-input::-ms-input-placeholder, .form .form-text .form-textarea::-ms-input-placeholder {
  font-size: clamp(15px, 3vw, 20px);
}
.form .form-text .form-input::placeholder, .form .form-text .form-textarea::placeholder {
  font-size: clamp(15px, 3vw, 20px);
}
.form .form-text .form-submit {
  display: block;
  margin: clamp(14px, 3vw, 30px) auto auto auto;
  font-size: clamp(16px, 4vw, 20px);
  text-align: center;
  font-weight: 500;
  font-size: clamp(15px, 3vw, 20px);
  padding: 0.5em 1em;
  border-radius: 0.8em;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  background-color: unset;
}

.home-light {
  background-image: url(../img/background/white-piano.jpeg);
  background-position: 75%;
}

.about-light {
  background-image: url(../img/background/gradient-light.png);
}

.form-light {
  background-image: url(../img/background/form-light.jpg);
}

.light-text {
  color: black;
}

.logo-light {
  background-image: url(../img/logo/magic-piano-nav-light.png);
}

.fb-light {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' x='0px' y='0px'%0AviewBox='0,0,256,256'%0Astyle='fill:%23000000;'%3E%3Cg fill='%23000000' fill-rule='nonzero' stroke='none' stroke-width='1' stroke-linecap='butt' stroke-linejoin='miter' stroke-miterlimit='10' stroke-dasharray='' stroke-dashoffset='0' font-family='none' font-weight='none' font-size='none' text-anchor='none' style='mix-blend-mode: normal'%3E%3Cg transform='scale(5.12,5.12)'%3E%3Cpath d='M25,3c-12.15,0 -22,9.85 -22,22c0,11.03 8.125,20.137 18.712,21.728v-15.897h-5.443v-5.783h5.443v-3.848c0,-6.371 3.104,-9.168 8.399,-9.168c2.536,0 3.877,0.188 4.512,0.274v5.048h-3.612c-2.248,0 -3.033,2.131 -3.033,4.533v3.161h6.588l-0.894,5.783h-5.694v15.944c10.738,-1.457 19.022,-10.638 19.022,-21.775c0,-12.15 -9.85,-22 -22,-22z'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.ig-light {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' x='0px' y='0px'%0AviewBox='0,0,256,256'%0Astyle='fill:%23000000;'%3E%3Cg fill='%23000000' fill-rule='nonzero' stroke='none' stroke-width='1' stroke-linecap='butt' stroke-linejoin='miter' stroke-miterlimit='10' stroke-dasharray='' stroke-dashoffset='0' font-family='none' font-weight='none' font-size='none' text-anchor='none' style='mix-blend-mode: normal'%3E%3Cg transform='scale(5.12,5.12)'%3E%3Cpath d='M16,3c-7.17,0 -13,5.83 -13,13v18c0,7.17 5.83,13 13,13h18c7.17,0 13,-5.83 13,-13v-18c0,-7.17 -5.83,-13 -13,-13zM37,11c1.1,0 2,0.9 2,2c0,1.1 -0.9,2 -2,2c-1.1,0 -2,-0.9 -2,-2c0,-1.1 0.9,-2 2,-2zM25,14c6.07,0 11,4.93 11,11c0,6.07 -4.93,11 -11,11c-6.07,0 -11,-4.93 -11,-11c0,-6.07 4.93,-11 11,-11zM25,16c-4.96,0 -9,4.04 -9,9c0,4.96 4.04,9 9,9c4.96,0 9,-4.04 9,-9c0,-4.96 -4.04,-9 -9,-9z'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.more-light {
  color: black;
  border: solid 2px black;
}
.more-light:hover {
  background-color: black !important;
  color: rgba(255, 255, 255, 0.8);
}
.more-light:active {
  -webkit-box-shadow: 0 0 1em 0.5em rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 1em 0.5em rgba(0, 0, 0, 0.3);
  background-color: black;
  color: rgba(255, 255, 255, 0.8);
}

.light-blur {
  background-color: rgba(0, 0, 0, 0.1);
}

.color-light {
  -webkit-box-shadow: 0 0 0 2px black;
          box-shadow: 0 0 0 2px black;
}

.inner-light {
  background-image: url(../img/icons/sun.png);
}

.nav-el-light {
  color: black;
}

.bar-light {
  background-color: black;
}

.input-light {
  background-color: white;
}
.input-light:focus {
  -webkit-box-shadow: 0 0 0 0.1em black;
          box-shadow: 0 0 0 0.1em black;
}

.radio-light:checked + .radio-label-light {
  background-color: black !important;
  color: white !important;
}

.radio-label-light {
  border: 2px solid black;
}
.radio-label-light:hover {
  color: rgb(120, 120, 120);
  border-color: rgb(120, 120, 120);
}

.home-dark {
  background-image: url(../img/background/black-piano.jpeg);
  background-position: 30%;
}

.about-dark {
  background-image: url(../img/background/gradient-dark.png);
}

.form-dark {
  background-image: url(../img/background/form-dark.jpg);
}

.dark-text {
  color: white;
}

.logo-dark {
  background-image: url(../img/logo/magic-piano-nav-dark.png);
}

.fb-dark {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' x='0px' y='0px'%0AviewBox='0,0,256,256'%0Astyle='fill:%23000000;'%3E%3Cg fill='%23ffffff' fill-rule='nonzero' stroke='none' stroke-width='1' stroke-linecap='butt' stroke-linejoin='miter' stroke-miterlimit='10' stroke-dasharray='' stroke-dashoffset='0' font-family='none' font-weight='none' font-size='none' text-anchor='none' style='mix-blend-mode: normal'%3E%3Cg transform='scale(5.12,5.12)'%3E%3Cpath d='M25,3c-12.15,0 -22,9.85 -22,22c0,11.03 8.125,20.137 18.712,21.728v-15.897h-5.443v-5.783h5.443v-3.848c0,-6.371 3.104,-9.168 8.399,-9.168c2.536,0 3.877,0.188 4.512,0.274v5.048h-3.612c-2.248,0 -3.033,2.131 -3.033,4.533v3.161h6.588l-0.894,5.783h-5.694v15.944c10.738,-1.457 19.022,-10.638 19.022,-21.775c0,-12.15 -9.85,-22 -22,-22z'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.ig-dark {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' x='0px' y='0px'%0AviewBox='0,0,256,256'%0Astyle='fill:%23000000;'%3E%3Cg fill='%23ffffff' fill-rule='nonzero' stroke='none' stroke-width='1' stroke-linecap='butt' stroke-linejoin='miter' stroke-miterlimit='10' stroke-dasharray='' stroke-dashoffset='0' font-family='none' font-weight='none' font-size='none' text-anchor='none' style='mix-blend-mode: normal'%3E%3Cg transform='scale(5.12,5.12)'%3E%3Cpath d='M16,3c-7.17,0 -13,5.83 -13,13v18c0,7.17 5.83,13 13,13h18c7.17,0 13,-5.83 13,-13v-18c0,-7.17 -5.83,-13 -13,-13zM37,11c1.1,0 2,0.9 2,2c0,1.1 -0.9,2 -2,2c-1.1,0 -2,-0.9 -2,-2c0,-1.1 0.9,-2 2,-2zM25,14c6.07,0 11,4.93 11,11c0,6.07 -4.93,11 -11,11c-6.07,0 -11,-4.93 -11,-11c0,-6.07 4.93,-11 11,-11zM25,16c-4.96,0 -9,4.04 -9,9c0,4.96 4.04,9 9,9c4.96,0 9,-4.04 9,-9c0,-4.96 -4.04,-9 -9,-9z'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.more-dark {
  color: white;
  border: solid 2px white;
}
.more-dark:hover {
  background-color: white !important;
  color: rgba(0, 0, 0, 0.8);
}
.more-dark:active {
  -webkit-box-shadow: 0 0 1em 0.5em rgba(255, 255, 255, 0.3);
          box-shadow: 0 0 1em 0.5em rgba(255, 255, 255, 0.3);
  background-color: white;
  color: rgba(0, 0, 0, 0.8);
}

.dark-blur {
  background-color: rgba(255, 255, 255, 0.1);
}

.color-dark {
  -webkit-box-shadow: 0 0 0 2px white;
          box-shadow: 0 0 0 2px white;
}

.inner-dark {
  background: url(../img/icons/moon.png);
}

.nav-el-dark {
  color: white;
}

.bar-dark {
  background-color: white;
}

.input-dark {
  background-color: black;
}
.input-dark:focus {
  -webkit-box-shadow: 0 0 0 0.1em white;
          box-shadow: 0 0 0 0.1em white;
}

.radio-dark:checked + .radio-label-dark {
  background-color: white !important;
  color: black !important;
}

.radio-label-dark {
  border: 2px solid white;
}
.radio-label-dark:hover {
  color: rgb(120, 120, 120);
  border-color: rgb(120, 120, 120);
}

.nav-elements {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 60%;
}
.nav-elements a {
  text-decoration: none;
  font-size: calc(14 * clamp(1.2px, 0.25vw, 1.8px));
  font-weight: 600;
  color: inherit;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}
.nav-elements a:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.pc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mobile {
  display: none;
  width: 100vw;
  padding-bottom: calc(10 * clamp(1.2px, 0.25vw, 1.8px));
}
.mobile .mobile-nav-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: inherit;
}

.hamburger {
  cursor: pointer;
  display: none;
  position: fixed;
  left: 50%;
  margin-left: calc(-12.5 * clamp(1.2px, 0.25vw, 1.8px));
}
.hamburger .bar {
  width: calc(25 * clamp(1.2px, 0.25vw, 1.8px));
  height: calc(4 * clamp(1.2px, 0.25vw, 1.8px));
  margin: calc(3 * clamp(1.2px, 0.25vw, 1.8px)) auto;
  border-radius: calc(3 * clamp(1.2px, 0.25vw, 1.8px));
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

@media (max-width: 950px) {
  .hamburger {
    display: block;
  }
  .pc {
    display: none;
  }
  .nav-elements a {
    font-size: calc(14 * clamp(1.2px, 0.25vw, 1.8px));
  }
  .form-text {
    width: min(80vw, 35em) !important;
  }
}