$clampPadding: clamp(20px, 3.5vw, 32px);
$clampIcon: clamp(40px, 10vw, 60px);
$clampIconHover: clamp(44px, 11vw, 66px);
$clampGrow: clamp(1.2px, 0.25vw, 1.8px);
$transitionTime: 0.6s;

@mixin blurBlack {
  background-color: rgba(0, 0, 0, 0.1);
}

@mixin blurWhite {
  background-color: rgba(255, 255, 255, 0.1);
}

@mixin displayFlex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@font-face {
  font-family: "Nunito";
  src: url(../font/nunito/Nunito-VariableFont_wght.ttf);
}

@font-face {
  font-family: "Lobster";
  src: url(../font/lobster/Lobster-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito";
}

nav {
  z-index: 1;
  backdrop-filter: blur(10px);

  .nav-pc {
    @include displayFlex();
  }

  position: fixed;
  min-width: 100vw;
  top: 0;
  transition: $transitionTime;
  overflow: hidden;

  .logo-btn {
    height: calc(50 * $clampGrow);
    width: calc(60 * $clampGrow);
    margin: calc(10 * $clampGrow);
    background-repeat: no-repeat;
    background-size: contain;
    transition: $transitionTime;

    &:hover {
      transform: scale(1.1);
    }
  }

  .options {
    @include displayFlex();
    gap: calc(10 * $clampGrow);
    margin-right: calc(10 * $clampGrow);

    .languages {
      @include displayFlex();
      gap: calc(6 * $clampGrow);
      font-weight: 600;

      .lang {
        @include displayFlex();
        text-decoration: none;
        font-size: calc(14 * $clampGrow);
        color: inherit;
        transition: $transitionTime;

        &:hover {
          transform: scale(1.1);
        }
      }

      .hide {
        display: none;
      }
    }

    .color-mode-btn {
      display: flex;
      align-items: center;
      width: calc(30 * $clampGrow);
      height: calc(16 * $clampGrow);
      padding: calc(2 * $clampGrow);
      border-radius: 50% / 100%;
      cursor: pointer;
      overflow: hidden;
      transition: $transitionTime;

      .color-mode-inner {
        width: calc(12 * $clampGrow);
        height: calc(12 * $clampGrow);
        background-repeat: no-repeat;
        background-size: contain;
        border-radius: 50%;
        transition: $transitionTime;

        &.active {
          transform: translateX(calc(14 * $clampGrow));

          &::before {
            left: calc(-5 * $clampGrow);
            transform: scale(1);
          }
        }
      }
    }
  }
}

.home {
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  transition: $transitionTime;
  display: flex;
  align-items: center;

  .explore {
    margin: auto;
    padding: clamp(10px, 2.5vw, 22px) $clampPadding $clampPadding $clampPadding;
    border-radius: clamp(10px, 2vw, 20px);
    backdrop-filter: blur(3px);
    transition: $transitionTime;

    .piano-dream {
      font-family: "Lobster";
      font-size: clamp(40px, 10vw, 60px);
      text-align: center;
      transition: $transitionTime;
    }

    .socials {
      display: flex;
      justify-content: space-around;
      margin: clamp(5px, 1.5vw, 15px);

      .network {
        height: $clampIcon;
        width: $clampIcon;
        transition: $transitionTime;

        &:hover {
          transform: scale(1.1);
        }
      }
    }

    .more-btn {
      display: block;
      margin: auto;
      text-align: center;
      text-decoration: none;
      width: fit-content;
      font-weight: 600;
      font-size: clamp(14px, 3vw, 20px);
      padding: clamp(8px, 1.5vw, 18px);
      border-radius: clamp(10px, 2vw, 20px);
      margin-top: clamp(14px, 3vw, 30px);
      transition: $transitionTime;
    }
  }
}

.about {
  display: flex;
  align-items: center;
  transition: $transitionTime;
  
  .about-text {
    width: 80vw;
    margin: auto;
    padding: clamp(40px, 10vw, 60px) 0;
    transition: $transitionTime;

    h2 {
      font-weight: 700;
      text-align: center;
      font-size: clamp(20px, 5vw, 30px);
      padding-bottom: clamp(8px, 2vw, 12px);
    }

    p {
      span {
        font-weight: bold;
      }
      font-size: clamp(14px, 3vw, 20px);
    }
  }
}

.form {
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  transition: $transitionTime;
  display: flex;
  align-items: center;
}

// Light Theme

.home-light {
  background-image: url(../img/background/white-piano.jpeg);
  background-position: 75%;
}

.about-light {
  background-image: url(../img/background/gradient-light.png);
  background-size: cover;
  background-position: center;
}

.form-light {
  background-image: url(../img/background/form-light.jpg);
}

.light-text {
  color: black;
}

.logo-light {
  background-image: url(../img/logo/pianodream-no-bg-logo-black.png);
}

.fb-light {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' x='0px' y='0px'%0AviewBox='0,0,256,256'%0Astyle='fill:%23000000;'%3E%3Cg fill='%23000000' fill-rule='nonzero' stroke='none' stroke-width='1' stroke-linecap='butt' stroke-linejoin='miter' stroke-miterlimit='10' stroke-dasharray='' stroke-dashoffset='0' font-family='none' font-weight='none' font-size='none' text-anchor='none' style='mix-blend-mode: normal'%3E%3Cg transform='scale(5.12,5.12)'%3E%3Cpath d='M25,3c-12.15,0 -22,9.85 -22,22c0,11.03 8.125,20.137 18.712,21.728v-15.897h-5.443v-5.783h5.443v-3.848c0,-6.371 3.104,-9.168 8.399,-9.168c2.536,0 3.877,0.188 4.512,0.274v5.048h-3.612c-2.248,0 -3.033,2.131 -3.033,4.533v3.161h6.588l-0.894,5.783h-5.694v15.944c10.738,-1.457 19.022,-10.638 19.022,-21.775c0,-12.15 -9.85,-22 -22,-22z'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.ig-light {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' x='0px' y='0px'%0AviewBox='0,0,256,256'%0Astyle='fill:%23000000;'%3E%3Cg fill='%23000000' fill-rule='nonzero' stroke='none' stroke-width='1' stroke-linecap='butt' stroke-linejoin='miter' stroke-miterlimit='10' stroke-dasharray='' stroke-dashoffset='0' font-family='none' font-weight='none' font-size='none' text-anchor='none' style='mix-blend-mode: normal'%3E%3Cg transform='scale(5.12,5.12)'%3E%3Cpath d='M16,3c-7.17,0 -13,5.83 -13,13v18c0,7.17 5.83,13 13,13h18c7.17,0 13,-5.83 13,-13v-18c0,-7.17 -5.83,-13 -13,-13zM37,11c1.1,0 2,0.9 2,2c0,1.1 -0.9,2 -2,2c-1.1,0 -2,-0.9 -2,-2c0,-1.1 0.9,-2 2,-2zM25,14c6.07,0 11,4.93 11,11c0,6.07 -4.93,11 -11,11c-6.07,0 -11,-4.93 -11,-11c0,-6.07 4.93,-11 11,-11zM25,16c-4.96,0 -9,4.04 -9,9c0,4.96 4.04,9 9,9c4.96,0 9,-4.04 9,-9c0,-4.96 -4.04,-9 -9,-9z'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.more-light {
  color: black;
  border: solid 2px black;

  &:hover {
    background-color: black;
    color: rgba(255, 255, 255, 0.8);
  }

  &:active {
    box-shadow: 0 0 1em 0.5em rgba(0, 0, 0, 0.3);
    background-color: black;
    color: rgba(255, 255, 255, 0.8);
  }
}

.light-blur {
  @include blurBlack();
}

.color-light {
  box-shadow: 0 0 0 2px black;
}

.inner-light {
  background-image: url(../img/icons/sun.png);
}

.nav-el-light {
  color: black;
}

.bar-light {
  background-color: black;
}

// Dark Theme

.home-dark {
  background-image: url(../img/background/black-piano.jpeg);
  background-position: 30%;
}

.about-dark {
  background-image: url(../img/background/gradient-dark.png);
  background-size: cover;
  background-position: center;
}

.form-dark {
  background-image: url(../img/background/form-dark.jpg);
}

.dark-text {
  color: white;
}

.logo-dark {
  background-image: url(../img/logo/pianodream-no-bg-logo-white.png);
}

.fb-dark {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' x='0px' y='0px'%0AviewBox='0,0,256,256'%0Astyle='fill:%23000000;'%3E%3Cg fill='%23ffffff' fill-rule='nonzero' stroke='none' stroke-width='1' stroke-linecap='butt' stroke-linejoin='miter' stroke-miterlimit='10' stroke-dasharray='' stroke-dashoffset='0' font-family='none' font-weight='none' font-size='none' text-anchor='none' style='mix-blend-mode: normal'%3E%3Cg transform='scale(5.12,5.12)'%3E%3Cpath d='M25,3c-12.15,0 -22,9.85 -22,22c0,11.03 8.125,20.137 18.712,21.728v-15.897h-5.443v-5.783h5.443v-3.848c0,-6.371 3.104,-9.168 8.399,-9.168c2.536,0 3.877,0.188 4.512,0.274v5.048h-3.612c-2.248,0 -3.033,2.131 -3.033,4.533v3.161h6.588l-0.894,5.783h-5.694v15.944c10.738,-1.457 19.022,-10.638 19.022,-21.775c0,-12.15 -9.85,-22 -22,-22z'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.ig-dark {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' x='0px' y='0px'%0AviewBox='0,0,256,256'%0Astyle='fill:%23000000;'%3E%3Cg fill='%23ffffff' fill-rule='nonzero' stroke='none' stroke-width='1' stroke-linecap='butt' stroke-linejoin='miter' stroke-miterlimit='10' stroke-dasharray='' stroke-dashoffset='0' font-family='none' font-weight='none' font-size='none' text-anchor='none' style='mix-blend-mode: normal'%3E%3Cg transform='scale(5.12,5.12)'%3E%3Cpath d='M16,3c-7.17,0 -13,5.83 -13,13v18c0,7.17 5.83,13 13,13h18c7.17,0 13,-5.83 13,-13v-18c0,-7.17 -5.83,-13 -13,-13zM37,11c1.1,0 2,0.9 2,2c0,1.1 -0.9,2 -2,2c-1.1,0 -2,-0.9 -2,-2c0,-1.1 0.9,-2 2,-2zM25,14c6.07,0 11,4.93 11,11c0,6.07 -4.93,11 -11,11c-6.07,0 -11,-4.93 -11,-11c0,-6.07 4.93,-11 11,-11zM25,16c-4.96,0 -9,4.04 -9,9c0,4.96 4.04,9 9,9c4.96,0 9,-4.04 9,-9c0,-4.96 -4.04,-9 -9,-9z'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.more-dark {
  color: white;
  border: solid 2px white;

  &:hover {
    background-color: white;
    color: rgba(0, 0, 0, 0.8);
  }

  &:active {
    box-shadow: 0 0 1em 0.5em rgba(255, 255, 255, 0.3);
    background-color: white;
    color: rgba(0, 0, 0, 0.8);
  }
}

.dark-blur {
  @include blurWhite();
}

.color-dark {
  box-shadow: 0 0 0 2px white;
}

.inner-dark {
  background: url(../img/icons/moon.png);
}

.nav-el-dark {
  color: white;
}

.bar-dark {
  background-color: white;
}

// Media Querry elements

.nav-elements {
  justify-content: space-evenly;
  width: 60%;

  a {
    text-decoration: none;
    font-size: calc(14 * $clampGrow);
    font-weight: 600;
    color: inherit;
    transition: $transitionTime;

    &:hover {
      transform: scale(1.1);
    }
  }
}

.pc {
  display: flex;
}

.mobile {
  display: none;
  width: 100vw;
  padding-bottom: calc(10 * $clampGrow);

  .mobile-nav-flex {
    display: flex;
    justify-content: space-evenly;
    width: inherit;
  }
}

.hamburger {
  cursor: pointer;
  display: none;
  position: fixed;
  left: 50%;
  margin-left: calc(-12.5 * $clampGrow);

  .bar {
    width: calc(25 * $clampGrow);
    height: calc(4 * $clampGrow);
    margin: calc(3 * $clampGrow) auto;
    border-radius: calc(3 * $clampGrow);
    transition: $transitionTime;
  }
}

@media (max-width: 950px) {
  .hamburger {
    display: block;
  }

  .pc {
    display: none;
  }

  .nav-elements {
    a {
      font-size: calc(12 * $clampGrow);
    }
  }
}
